body {
  font-family: "Mona Sans", sans-serif;
  background: #17224d;
  text-align: center;
  padding-top: 50px;
  color: white;
  align-content: center;
  justify-content: center;
  display: flex;
}
.pfp {
  border-radius: 25px;
  width: 100px;
}

a {
  color: #7f94fd;
  text-decoration: none;
  font-weight: bold;
  background-color: #ffffff00;
  border-radius: 100px;
  justify-content: center;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: all 1s cubic-bezier(0.3, 0.94, 0.3, 0.95);
}
.navbar a,
button,
input {
  color: #465ac1;
}
button,
input {
  text-decoration: none;
  font-weight: bold;
  background-color: #50b4eb;
  border-radius: 100px;
  justify-content: center;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: all 1s cubic-bezier(0.3, 0.94, 0.3, 0.95);
  border: solid 0px;
  align-self: center;
  justify-self: center;
  margin: 20px;
}
input {
  color: white;
}
a:hover,
button:hover {
  text-decoration: underline;
  font-weight: bolder;
  background-color: #8da6ffec;
  padding: 10px 15px;
  transition: all 1s cubic-bezier(0.3, 0.94, 0.3, 0.95);
  font-size-adjust: 10px;
}
a:hover {
  color: #2e4ff6;
}
#about, .code {
  border-radius: 25px;
  background-color: #3b3c3fe0;
  padding: 10px 5px;
  justify-self: center;
  font-size: 14px;
}
#about {
  width: 30%;
}
.code {
  font-family: "Cascadia Code", monospace;
  padding: 10px;
  
}
.but {
  width: 50%;
  border-radius: 100px;
  border-color: #24baec;
  border: solid 0.5px;
  margin-bottom: 25px;
}
.links,
.navbar,
#friendsites {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a img {
  width: 25px;
}

.navbar {
  background-color: skyblue;
  display: flex;
  min-width: fit-content;
  padding: 5px;
  margin: 0 0 10px 0;
  align-content: center;
  justify-content: center;
  justify-self: center;
  border-radius: 100px;
}
::placeholder {
  color: #b8cfe4;
  opacity: 1; /* Stupid stuff for Firefox, or so I've been told */
  font-weight: thin;
  font-style: italic;
}
.main {
  width: 100%;
}
